<Files wp-login.php>
    Order allow,deny
    allow from all
    deny from 37.128.132.10
#    Order deny,allow
#    deny from all
#    allow from 127.0.0.1
</Files>
#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REQUEST_URI} !/maintenance.html$
#RewriteCond %{REQUEST_URI} !/wp-content/themes/thatcamp/images/logo.gif$
#RewriteCond %{REQUEST_URI} !/wp-cron.php$
#RewriteCond %{REMOTE_HOST} !^72\.229\.209\.82
#RewriteCond %{REMOTE_HOST} !^76\.111\.65\.22
#RewriteCond %{REMOTE_HOST} !^65\.25\.218\.145
#RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
#RewriteRule $ /maintenance.html [R=302,L]

RewriteCond %{REQUEST_URI} /maintenance.html$
RewriteRule $ / [R=302,L]

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^files/(.+) wp-includes/ms-files.php?file=$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule  ^[_0-9a-zA-Z-]+/(wp-(content|admin|includes).*) $1 [L]
RewriteRule  ^[_0-9a-zA-Z-]+/(.*\.php)$ $1 [L]
#RewriteRule . index.php [L]
RewriteRule ^(.+)$ /index.php/$1 [NC,L,QSA]

Redirect 301 /gratitude http://thatcamp.org/people/sponsors
Redirect 301 /applications http://thatcamp.org/help/plan/registrations
Redirect 301 /plan/before/applications http://thatcamp.org/help/plan/registrations
Redirect 301 /go/fellowships http://thatcamp.org/about
Redirect 301 /plan/first http://thatcamp.org/help/organize
Redirect 301 /plan/before http://thatcamp.org/help/organize
Redirect 301 /plan/during http://thatcamp.org/help/organize
Redirect 301 /plan/after http://thatcamp.org/help/organize
Redirect 301 /help/plan http://thatcamp.org/help/organize
Redirect 301 /plan http://thatcamp.org/help/organize
Redirect 301 /logos http://thatcamp.org/docs/logos/
Redirect 301 /plugins http://thatcamp.org/docs/plugins/
Redirect 301 /themes http://thatcamp.org/docs/themes/
