/*
Theme Name: THATCamp Furvious
Theme URI: http://thatcamp.org/website
Description: A customized child theme for THATCamp based on the WordPress template theme Furvious, by Kreative Themes. Comes with five different color schemes. A custom header image can be added by URL. 
Author: Amanda French
Author URI: http://thatcamp.org/people/amandafrench/
Template: Furvious
Version: 1.0
*/

@import url("../Furvious/style.css");

/* Fonts */
body,
input,
textarea,
.page-title span,
.pingback a.url { font-family: "Lucida Grande", Arial, Helvetica, sans-serif; }
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] { font-family: "Lucida Grande", Arial, Helvetica, sans-serif; }
pre { font-family: "Courier 10 Pitch", Courier, monospace; }
code { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

/* Content */

.post ul li {
line-height: 1.5em;
}

/* Header */
#header { padding: 0px 0 10px; }

h1#blogtitle a
{
	float: left;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #000;
	font-weight: bold;
	margin: 10px 0 0;
}

/* Footer */
#site-info
{
	font-size: 11px;
	font-weight: normal;
}

#site-info a { color: #45686a; }

#cclicense 
{
	background: none !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
}

img#ccl
{
	border: none;
	display: block; 
	margin: 0 auto;
}


/* Twitter for WordPress Widget */

li.twitter-item {
min-height: 55px;
margin-bottom: 5px;
}

li.twitter-item img { 
float: left; 
margin-right: 5px; 
}

li.twitter-item abbr {
display:block;
}

/* Campers and Author templates */

	.campers_title {
		padding-bottom: 1em;
	}
	
	.camper_info {
		float: left;
		width: 140px;
		padding: 0 0px 10px 0;

	}
	
	.camper_avatar {
		border: none;
		overflow: hidden;
		width: 140px; 
	}
	
	.camper_name, .camper_posts {
		font-size: 12px;
		line-height: 15px;
		margin-left: 5px; 
	}

	.camper_info a:link {
		text-decoration:none;
	}
	
#camper-info {
    margin-left: 160px;
}

#camper-info .vcard {
    margin-bottom:1em;
}

#camper-info .vcard img {
    float:left; 
    margin: 0 1em 1em 0;
}

#camper-description {
    clear:both;
}

/* Cimy Registration */

#content.widecolumn {
background-color: #FCF6E3;
padding: 50px; 
}

p.submit {
width:100px;
float:right; 
}

/* THATCamp Registration Plugin */

form { 
margin-bottom: 2em; 
}

.formitem {
margin-bottom: 1.5em;
}

legend {
display:none; 
}

label {
font-style: bold;
font-size: 11pt;
}

.textfield {
width: 200px; 
}

p.explanation {
display:block;
margin-top: 0;
margin-bottom: 0;
font-size: 10pt;
font-style:italic;
}

form fieldset div {
margin-top: 1em;
margin-bottom: .5em;
}

[type=text] {
width: 250px; 
}

