/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {

        .comments-header:before, .comments-header:after, #comments li:after,
        .author-bio h2:before, .author-bio h2:after,
        .author-posts h2:before, .author-posts h2:after {
	       padding-left: 7.5%;
	       margin-left: -7.5%;
	       }
	       
        .author .author-bio h2:before, .author .author-bio h2:after,
        .author .author-posts h2:before, .author .author-posts h2:after {
            padding-left: 0;
            margin-left: 0;
        }	       	
	
	}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {

        h1 { font-size: 24px; margin-top: 0; }
        h2 { font-size: 20px; margin-top: 30px; }
        h3 { font-size: 18px; margin-top: 30px; }
        h4 { font-size: 16px; margin-top: 30px; }
	
        header nav {    
            background-color: transparent; 
            box-shadow: none; 
                -webkit-box-shadow: none;
                -moz-box-shadow: none; 
                -o-box-shadow: none;
            margin-top: 20px; 
            }
            
        header nav .tabs {
            width: 100%;            
        }
        
        header nav .social {
            width: 100%;
        }
        
            header nav .social li, header nav .social li:hover {
                border-left: 0;
            }
                                    
            header nav .social li .RSS:before {
                content: "";
                margin: 0;
            }
            
            header nav .social li .RSS:after {
                content: "\28";
                font-family: "IcoMoon";
                display: inline-block;
                line-height: 39px;
                margin: 0 0 0 5px;
                text-indent: 0;
            }            
            
        header nav ul li { border: 0; float: none; }
        
        header .current_page_item { 
            box-shadow: none; 
                -webkit-box-shadow: none;
                -moz-box-shadow: none; 
                -o-box-shadow: none;
            }
        
        #searchform { width: 100%; float: none; }
        
        .sidebar, .page h1, .author h1 { margin-right: 0; padding: 70px 0 0 0; }
        
        .author .gravatar { margin: 70px 10px 0 0; }
        
        .front-page h1 {
            font-size: 30px;
            padding: 0;
        }
                
        #content { 
            background: transparent; 
            box-shadow: none; 
                -webkit-box-shadow: none;
                -moz-box-shadow: none; 
                -o-box-shadow: none;
            }
        
        #article { 
           background: none; 
           padding: 0; 
           min-height: inherit; 
           }
           
        .comments-header:before, .comments-header:after, #comments li:after {
           padding-left: 0;
           margin-left: 0;
           }
           
        footer .container { text-align: left;}
	       
	   }
	       
	   	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	    #article { background: none; min-height: inherit; }	    
	    }
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
	    #comments-form:before { margin-left: -50px; }
	    }
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
	    }
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
        footer .container { text-align: left;}
	    }
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {		
	    }
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	     font-family: 'FontName';
	     src: url('../fonts/FontName.eot');
	     src: url('../fonts/FontName.eot?iefix') format('eot'),
	          url('../fonts/FontName.woff') format('woff'),
	          url('../fonts/FontName.ttf') format('truetype'),
	          url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	     font-weight: normal;
	     font-style: normal; }
*/